.container {
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
    width: 400px;
    border-radius: 1rem;
}

.header_title{
    width: auto;
    margin: 1px;
    margin-left: 10px;
    color: #a72ff7d5;
}

.title {
    text-transform: capitalize;
    font-weight: 500;
}

form .user_details {
    max-height: 350px;
    width: 100%;
    overflow: scroll;
}

form label {
    margin-left: 2vh;
    margin-bottom: 5px;
    display: inline-flex;
    font-size: 2.5vh;
}

form label .result_field {
    margin-left: 10px;
    margin-top: -6px;
    height: 20px;
    width: 50px;
    padding: 8px 10% 0px;
    border-radius: 1.2vh;
    color: #fff;
}

 



form label .user_details .input_field {
    margin-bottom: 15px;
    margin: 10px auto 10px;
    width: calc(90% / 2- 20px);
}

.input_field:focus{
    outline: none;
}

.user_details select, input[type="date"], input[type="time"], input[type="number"]{
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    outline: none;
}

.user_details select option{
    font-size: 20px;
    color: #da1bf3;
    margin-top: 5px;
    height: 15px;
    padding: 5px 10px;
    border: none;
    background: rgba(255, 255, 255, 0.575);
}

.box{
    border-bottom: 1px solid rgba(81, 10, 173, 0.5);
    border-radius: 1px;
    width: 100%;
}

.box_radio{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
}

form .button{
    height: 60px;
    width: 100%;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    
}

.button_action {
    display: block;
    height: 3rem;
    width: 80%;
    text-transform: uppercase;
    align-items: center;
    border-radius: 6px;
    border: 2px solid rgb(166, 67, 248);
    color: rgb(166, 67, 248);
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    margin-left:  50px;
}

.button_action:hover {
    color: #fff;
    background: rgb(155, 90, 230);
    border: none;
    transition: all ease .2s;
    font-weight: 300;
}

/*editar e visualizar*/

.editview{
    width: 80vh;
    height: 80vh;
    background: #fff;
    padding: 10px;
    border-radius: 0.3rem;
    box-shadow: 0px 10px 20px 3px rgba(0,0,0,0.3);
    outline: none;
    margin-left: 30px;
}

.editview .titleview{
    margin: 5px;
    margin-left: 5%;
    font-weight: 500;
    height: 35px;
}

.buttonview{
    display: flex;
}

.buttonview .button_action{
    width: 40vh;
    height: 8vh;
    margin: auto;
    margin-top: 20px;
    background: green;
    border: 2px solid #791bf3;
    background: none;
    color: #4b1df1;
    font-size: 20px;
    font-weight: 400;

}

.button_action svg {
    font-size: 20px;
}

.button_back{
    background: none;
    border: none;
    float: right;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: 10px;
    height: 20px;
    width: 50px;
    color: red;
    font-weight: 500;
    letter-spacing: 1px;
}

.button_back:hover{
    border-bottom: 2px solid red;
    cursor: pointer;
}

.buttonview .button_action:hover{
    background: #4b1df1;
    color: #fff;
    border:none;
}
/*editar e visualizar*/