*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #968d8d00;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(189, 189, 189, 0.4);
  border-radius: 3px;
  border: none;
}
*{
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
}
